{% extends 'ITBA/base-nav-inicio.html' %}
<!-- Agregamos el contenido estatico-->
{% load static %}
<!-- Agregamos el titulo de la home -->
{% block title %}ITBANK logout{% endblock %}
<!-- Agregamos la imagen de fondo -->
<!-- Agregamos la informacion que queremos en el header-->

{% block my_header %}
{% endblock %}

<!-- indicamos que lo de abajao se dibuje despues del menu armado en la base-->
{% block content %}
<div class="p-3" style="background:rgb(218, 232, 230)">
    <p>Has salido de la sesión {{ request.user.username }}!</p>
    <a href="{% url 'login'%}">Hace clic aca nuevamente para iniciar sesión.</a>

</div>
{% endblock %}